<p id="notice"><%= notice %></p>

<p style="color:red;">
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p class="akapit">
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p class="akapit">
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p id="akapit1">
  <strong>Discription:</strong>
  <%= @book.discription %>
</p>
<p>
  <strong>Opinion:</strong>
  <%= @book.opinion %>
</p>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
